@model E4UsersMVCWebApp.Models.UserModel;

<div class="container p-3 my-3 border" >
    <h1> @ViewBag.Title</h1>

    <div class="row">
        <div class="col-sm-6">
            <hr />
            @using (Html.BeginForm()) 
            {
                @Html.HiddenFor(model => model.Id)
                  <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DoB)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DoB)
                    @Html.ValidationMessageFor(model => model.DoB)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Cellphone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Cellphone)
                    @Html.ValidationMessageFor(model => model.Cellphone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ImagePath)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ImagePath)
                    @Html.ValidationMessageFor(model => model.ImagePath)
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn btn-danger" asp-action="Index">Back</a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}