@model E4UsersMVCWebApp.Models.UserModel;

<div class="container p-3 my-3 border">
    <h2>@ViewBag.Title</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DoB)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Cellphone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="AddOrEdit" asp-route-employeeId="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>